*{
    padding: 0;
    margin: 0;
    font-family: 'Open-Sans',sans-serif;
}

ul{
    list-style: none;
    background: #22438C;
    text-align: right;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    width: 165px;
    display: block;
    padding: 25px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    margin: 0;
}

ul li ul.dropdown li {
    display: block;
}


ul li ul.dropdown {
    width: 100%;
    background: #22438C;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    background-color: #112c66;
    margin: 0px;
}

ul li:hover ul.dropdown{
    display: block;
}

ul img{
    height: 100px;
    float: left;
    cursor: pointer;
}

ul a{
    font-size: 35px;
    float: left;
    cursor: pointer;
    color: #fff;
    display: block;
    padding: 15px 15px;
    margin-left: 2%;
    text-decoration: none;
}

.json{
    color: rgb(155, 155, 155);
    font-weight: bold;
    font-family: Akaya Kanadaka;
    font-size: 42px;
}

.json2{
    font-weight: bold;
    font-family: Akaya Kanadaka;
    font-size: 42px;
}

hr{
    margin-top: 0.5%;
    background-color: #112c66;
    width: 95%;
    margin-left: 2.5%;
    height: 1px;
}

#hak{
    color: #112c66;
    margin: 0.5%;
    margin-left: 5%;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans TC", "Microsoft JhengHei", "Meiryo UI", Helvetica, Arial, sans-serif;
}

.son3{
    text-decoration: none;
    color: #112c66;
    font-size: 15px;
    margin-right: 5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans TC", "Microsoft JhengHei", "Meiryo UI", Helvetica, Arial, sans-serif;
}

.son3 link{
    text-decoration: none;
    color: #112c66;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans TC", "Microsoft JhengHei", "Meiryo UI", Helvetica, Arial, sans-serif;
}

#değer15 :hover{
    text-decoration: underline;
    color: #112c66;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans TC", "Microsoft JhengHei", "Meiryo UI", Helvetica, Arial, sans-serif;
}

.son3 :visited{
    text-decoration: underline;
    color: #112c66;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans TC", "Microsoft JhengHei", "Meiryo UI", Helvetica, Arial, sans-serif;
}

#değer15{
    margin-top: -1.7%;
    margin-left: 60%;
}

#içerik{
    margin: 2%;
    padding: 10px;
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: left; 
}

#sol{
    border: #112c66 2px solid;
    background-color: rgb(190, 190, 190);
    height: 475px;
    width: 30%;
    margin-left: 50px;
    border-radius: 2%;
}

#sağ{
    height: 475px;
    width: 60%;
    margin-left: 100px;
    max-width: 100%;
    border-radius: 1%;
    margin-right: 50px;
}

input{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 10px 30px;
    max-width: 100%;
    width: 70%;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border: #112c66 2px solid;
    border-radius: 5px;
}

button{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 18px;
    padding: 10px 30px;
    width: 50%;
    border: #112c66 2px solid;
    border-radius: 5px;
    background-color: #112c66;
    color: white;
    cursor: pointer;
}

button:hover{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 18px;
    padding: 10px 30px;
    width: 50%;
    border: #112c66 2px solid;
    border-radius: 5px;
    background-color: #22438C;
    color: white;
    cursor: pointer;
}

#sağ {
    text-align: center;
    margin-left: 50px;
}

#üst{
    width: 96%;
    margin: 2%;
    margin-top: 0;
    height: 37%;
    border-radius: 5px;
    border: #112c66 2px solid;
}

#alt{
    width: 96%;
    margin: 2%;
    height: 58%;
    border: #112c66 2px solid;
    border-radius: 5px;
    overflow: auto;
}

#alt h1{
    color: #112c66;
    text-align: center;
    margin: 1%;
    font-size: 30px;
}

#alt hr{
    height: 2px;
}

#üst h1{
    color: #112c66;
    text-align: center;
    margin: 1%;
    font-size: 30px;
}

#üst hr{
    height: 1px;
}

#üst p{
    font-size: 22px;
    line-height: 1.5;
}

table{
    margin-left: 1%;
    margin-right: 1%;
    border: #112c66 1px solid;
    width: 98%;
    height: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #22438C;
    color: white;
  }

table  tr:nth-child(even){background-color: #f2f2f2;}

table  tr:hover {background-color: #ddd;}